---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection, render } from "astro:content";
import type { GetStaticPaths } from "astro";
import type { BlogPost } from "@/types/blog";

export async function getStaticPaths(): Promise<GetStaticPaths> {
    const blogs = await getCollection("blog");

    return blogs.map((blog: BlogPost) => ({
        params: { slug: blog.id },
        props: { blog },
    }));
}

const { blog } = Astro.props;
console.log(blog);
const { slug } = Astro.params;
const { Content } = await render(blog);
---

<MainLayout content={{ title: slug }}>
    <h2>Blog details page: {slug}</h2>
    <Content />
</MainLayout>
