---
import MainLayout from "@/layouts/MainLayout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
    return [
        {
            params: { slug: "1" },
        },
    ];
}) satisfies GetStaticPaths;
const { slug } = Astro.params;
---

<MainLayout content={{ title: slug }}>
    <h2>Blog details page: {slug}</h2>
</MainLayout>
