---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blog");
import type { BlogPost } from "@/types/blog";
---

<MainLayout content={{ title: "Read | Blogbuster" }}>
    <h2>Read Page</h2>
    <ul>
        {
            blogs.map((blog: BlogPost) => (
                <li>
                    <a href={`/read/${blog.id}`}>
                        {blog.data.title} : {blog.id}
                    </a>
                </li>
            ))
        }
    </ul>
</MainLayout>
